table {
    border-collapse: collapse;
    width: 50%;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #11c81d
}

th {
    background-color: #bbb50d;
    color: rgb(76, 0, 14);
}